<!DOCTYPE html>
<br>
If you have any questions, please contact Lance: lance@swicoauctions.com
<br>


<html>
  <head>
    <title>Home - Auctioneer Association</title>
  </head>
  <body>
  	
  	
  	
    <h1>Welcome!</h1>
    <header class="navbar-fixed-top navbar-custom">
      <div class="container">
        <%= link_to "Texas Auctioneer Association", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", login_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				New to Texas Auctioneer Association? 
			</h2>
			<p>
				<%= link_to "Sign up now!", signup_path, class: "btn btn-TAA btn-block active" %>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Current Member Login
			</h2>
			<p>
				<%= link_to "Log in", login_path, class: "btn btn-TAA btn-block active" %>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Looking to Renew your Membership? 
			</h2>
			<p>
				<%= link_to "Renew Membership", login_path, class: "btn btn-TAA btn-block active" %>
			</p>
		</div>
	</div>
</div>
  </body>
</html>





