<p id="notice"><%= notice %></p>

<h1>Listing Continueedus</h1>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Annual convention ce hours</th>
      <th>Online ce hours</th>
      <th>member</th>
      <th>Admin Options</th>
    </tr>
  </thead>

  <tbody>
    <% @continueedus.each do |continueedu| %>
      <tr>
        <td><%= continueedu.id %></td>
        <td><%= continueedu.Annual_Convention_CE_Hours %></td>
        <td><%= continueedu.Online_CE_Hours %></td>
        <td><%= continueedu.member_id %></td>
        <td>
              <ul class="nav">
                  <li class="dropdown">
                    <a role="button" href="#" data-toggle="dropdown" data-target="#" class="dropdown-toggle">
                      Options
                      <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                      <li>
                          <%= link_to 'Show', continueedu %>
                          <%= link_to 'Edit', edit_continueedu_path(continueedu) %>
                          <%= link_to 'Destroy', continueedu, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </li>
                    </ul>
                </ul>
            </tr>
            </td>
            </tr>
    <% end %>
  </tbody>
</table>
</div>
	</div>
</div>
<br>

<%= link_to 'New Continueedu', new_continueedu_path %>
