<p id="notice"><%= notice %></p>

<p>
  <strong>Pymt ID:</strong>
  <%= @continueedu.id %>
</p>

<p>
  <strong>Annual convention ce hours:</strong>
  <%= @continueedu.Annual_Convention_CE_Hours %>
</p>

<p>
  <strong>Online ce hours:</strong>
  <%= @continueedu.Online_CE_Hours %>
</p>

<p>
  <strong>Member:</strong>
  <%= @continueedu.member %>
</p>

<%= link_to 'Edit', edit_continueedu_path(@continueedu) %> |
<%= link_to 'Back', continueedus_path %>
