
<h1>Listing Pacs</h1>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pac contribution</th>
      <th>member</th>
      <th>Admin Options</th>
    </tr>
  </thead>

  <tbody>
    <% @pacs.each do |pac| %>
      <tr>
        <td><%= pac.id %></td>
        <td><%= pac.PAC_Contribution %></td>
        <td><%= pac.member_id %></td>
       <td>
              <ul class="nav">
                  <li class="dropdown">
                    <a role="button" href="#" data-toggle="dropdown" data-target="#" class="dropdown-toggle">
                      Options
                      <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                      <li>
                          <%= link_to 'Show', pac %>
                          <%= link_to 'Edit', edit_pac_path(pac) %>
                          <%= link_to 'Destroy', pac, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </li>
                    </ul>
                </ul>
            </tr>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
	</div>
</div>
<br>

<%= link_to 'New Pac', new_pac_path %>

