<p>
  <strong>PAC ID:</strong>
  <%= @pac.id %>
</p>

<p>
  <strong>Pac contribution:</strong>
  <%= @pac.PAC_Contribution %>
</p>

<p>
  <strong>Member:</strong>
  <%= @pac.member_id %>
</p>
<% if current_user_admin? %>
<%= link_to 'Edit', edit_pac_path(@pac) %>
<% end %>
<%= link_to 'Back', pacs_path %>
