<p id="notice"><%= notice %></p>

<h1>Listing Payments</h1>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pymt type</th>
      <th>Pymt amt</th>
      <th>Pymt date</th>
      <th>member</th>
      <th></th>
       <th></th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= payment.Pymt_Type %></td>
        <td><%= payment.Pymt_Amt %></td>
        <td><%= payment.Pymt_Date %></td>
        <td><%= payment.member_id %></td>
        <% if current_user_admin? %>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
		</div>
	</div>
</div>
<br>

<%= link_to 'New Payment', new_payment_path %>
<%= link_to "Log out", logout_path, method: "delete" %>
