<h1>Listing Payments</h1>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Pymt type</th>
      <th>Pymt amt</th>
      <th>Pymt date</th>
      <th>member</th>
      <% if current_user_admin? %>
      <th>Admin Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= payment.Pymt_Type %></td>
        <td><%= payment.Pymt_Amt %></td>
        <td><%= payment.Pymt_Date %></td>
        <td><%= payment.member_id %></td>
        <% if current_user_admin? %>
        <td>
              <ul class="nav">
                  <li class="dropdown">
                    <a role="button" href="#" data-toggle="dropdown" data-target="#" class="dropdown-toggle">
                      Options
                      <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                      <li>
                          <%= link_to 'Show', payment %>
                          <%= link_to 'Edit', edit_payment_path(payment) %>
                          <%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </li>
                    </ul>
                </ul>
            </tr>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
		</div>
	</div>
</div>
<br>

<%= link_to 'New Payment', new_payment_path %>
<%= link_to "Log out", logout_path, method: "delete" %>
