<!DOCTYPE html>
<html>
<head>
  <title>TexasAuctioneers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->  
</head>
<body>
      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Auctioneer Association", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_url %></li>

        <% if logged_in? %>
          <% if current_user_admin? %>
          
          <li><%= link_to "Members", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Payments <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "See All Payments", '#' %></li>
              <li><%= link_to "Add New Payment", '#'%></li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              PAC <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "See All PAC Entries", '#' %></li>
              <li><%= link_to "Add New PAC Entry", '#' %></li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              CE <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "See All CE Listings", '#' %></li>
              <li><%= link_to "Add New CE Entry", '#' %></li>
              </ul>
          </li>
          <li><%= link_to "DataBase IO",   dbio_index_path %></li>
          <% else %>
          <li><%= link_to "Make Payment",   '#' %></li>
          <li><%= link_to "Continuing Education",   '#' %></li>
          <li><%= link_to "PAC",   '#' %></li>
          <li><%= link_to "Contact Us",   '#' %></li>
          
          <% end %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          
          
        <% else %>
          <li><%= link_to "Log in", '#' %></li>
        <% end %>

          </ul>
        </nav>
      </div>
    </header>
    
 <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<%= yield %>


<% if false %>
<%= render 'layouts/footer' %>
<% end %>

<%= debug(params) if Rails.env.development? %>
  
  
  
</body>
</html>
