
<h1>Listing Members</h1>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered">
				<thead>
					<tr>
            <th>ID</th>
            <th>Last name</th>
            <th>First name</th>
            <th>Tx license</th>
            <th>Main phone</th>
            <th>Main email</th>
            <th>Customer type</th>
            <th>Date joined taa</th>
    </tr>
				</thead>
				<tbody>
					<tr class="active">
						<% @members.each do |member| %>
            <tr>
              <td><%= member.id %></td>
              <td><%= member.Last_Name %></td>
              <td><%= member.First_Name %></td>
              <td><%= member.TX_License %></td>
              <td><%= member.Main_Phone %></td>
              <td><%= member.Main_Email %></td>
              <td><%= member.Customer_Type %></td>
              <td><%= member.created_at %></td>
              <td><%= link_to 'Details', member %></td>
              <td><%= link_to 'Edit', edit_member_path(member) %></td>
              <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'New Payment', new_payment_path(member) %></td>
            </tr>
          <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<br>
