<p id="notice"><%= notice %></p>

<!--
<p>
<div align="center">
<strong><button type="button"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><%= link_to 'My Payments', payments_path(@member.id) %></button><strong>
&nbsp;&nbsp;&nbsp;&nbsp
<strong><button type="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><%= link_to 'My Continue Educations', continueedus_path(@member.id) %></button><strong>
&nbsp;&nbsp;&nbsp;&nbsp
<strong><button type="button"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span><%= link_to 'My PAC Contributions', pacs_path(@member.id) %></button></strong>
</div>
</p>


<p>
  <strong>Last name:</strong>
  <%= @member.Last_Name %>
  &nbsp
  <strong>First name:</strong>
  <%= @member.First_Name %>
  <br />
  <strong>Company:</strong>
  <%= @member.Company %>
  &nbsp
  <strong>Tx license:</strong>
  <%= @member.TX_License %>
  <br />
  <strong>Street1:</strong>
  <%= @member.Street1 %>
  &nbsp
  <strong>City:</strong>
  <%= @member.City %>
  &nbsp
  <strong>State:</strong>
  <%= @member.State %>
  &nbsp
  <strong>Zip:</strong>
  <%= @member.Zip %>
  <br />
  <strong>Main phone:</strong>
  <%= @member.Main_Phone %>
  &nbsp
  <strong>Main email:</strong>
  <%= @member.Main_Email %>
  <br />
  <strong>Customer type:</strong>
  <%= @member.Customer_Type %>
  &nbsp
  <strong>Date joined taa:</strong>
  <%= @member.Date_Joined_TAA %>
  <br />
  <strong>Notes:</strong>
  <%= @member.Notes %>
  <br />
  <strong>Added to webbase:</strong>
  <%= @member.Added_to_WebBase %>
  <br />
  <strong>Member Created At:</strong>
  <%= @member.created_at %>
  &nbsp
  <strong>Member Updated At:</strong>
  <%= @member.updated_at %>
</p>-->

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
          <%= link_to 'Edit', edit_member_path(@member) %> |
          <%= link_to 'Back', members_path %> |
          <%= link_to "Log out", logout_path, method: "delete" %>
       <br>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @member.First_Name %> <%= @member.Last_Name %></h3>
            </div>
            
            <div class="panel-body">
              <div class="row">

                <div class=" col-md-12 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Company</td>
                        <td><%= @member.Company %></td>
                      </tr>
                      <tr>
                        <td>TX_License</td>
                        <td><%= @member.TX_License %></td>
                      </tr>
                      <tr>
                        <td>Street</td>
                        <td><%= @member.Street1 %></td>
                      </tr>

                      <tr>
                        <td>City</td>
                        <td><%= @member.City %></td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td><%= @member.State %></td>
                      </tr>
                      <tr>
                        <td>Zip</td>
                        <td><%= @member.Zip %></td>
                      </tr>
                      <tr>
                        <td>Main Phone</td>
                        <td><%= @member.Main_Phone %>
                        </td>
                      </tr>                      
                      <tr>
                        <td>Main Email</td>
                        <td><%= @member.Main_Email %></td>
                      </tr>
                      <tr>
                        <td>Customer Type</td>
                        <td><%= @member.Customer_Type %></td>
                      </tr>
                      <tr>
                        <td>Date Joined TAA</td>
                        <td><%= @member.Date_Joined_TAA %></td>
                      </tr>
                      <tr>
                        <td>Notes</td>
                        <td><%= @member.Notes %>
                        </td>
                      </tr>                      
                      <tr>
                        <td>Added to WebBase</td>
                        <td><%= @member.Added_to_WebBase %></td>
                      </tr>
                      <tr>
                        <td>Member created at</td>
                        <td><%= @member.created_at  %></td>
                        </td>
                      </tr>                      
                      <tr>
                        <td>Member updated_at</td>
                        <td><%= @member.updated_at %></td>
                      </tr>
                    </tbody>
                  </table>
                  
        &nbsp&nbsp
				<%= link_to 'My Payments', payments_path(@member.id), class: "btn btn-primary" %>
				<%= link_to 'My Continue Educations',continueedus_path(@member.id),  class: "btn btn-primary" %>
				<%= link_to 'My PAC Contributions',pacs_path(@member.id), class: "btn btn-primary" %>

                </div>
              </div>
            </div>
                 <!--<div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
                -->
          </div>
        </div>
      </div>
    </div>



<!--
<p>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
</p>

<li>
   <%= link_to "Log out", logout_path, method: "delete" %>
</li>
-->