<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @member.Last_Name %>
  <strong>First name:</strong>
  <%= @member.First_Name %>
  <strong>Company:</strong>
  <%= @member.Company %>
  <strong>Tx license:</strong>
  <%= @member.TX_License %>
  <strong>Street1:</strong>
  <%= @member.Street1 %>
  <strong>City:</strong>
  <%= @member.City %>
  <strong>State:</strong>
  <%= @member.State %>
  <strong>Zip:</strong>
  <%= @member.Zip %>
  <strong>Main phone:</strong>
  <%= @member.Main_Phone %>
  <strong>Main email:</strong>
  <%= @member.Main_Email %>
  <strong>Customer type:</strong>
  <%= @member.Customer_Type %>
  <strong>Date joined taa:</strong>
  <%= @member.Date_Joined_TAA %>
  <strong>Pymt type:</strong>
  <%= @member.Pymt_Type %>
  <strong>Pymt amt:</strong>
  <%= @member.Pymt_Amt %>
  <strong>Pymt date:</strong>
  <%= @member.Pymt_Date %>
  <strong>Notes:</strong>
  <%= @member.Notes %>
  <strong>Added to webbase:</strong>
  <%= @member.Added_to_WebBase %>
  <strong>Pac contribution:</strong>
  <%= @member.PAC_Contribution %>
  <strong>Annual convention ce hours:</strong>
  <%= @member.Annual_Convention_CE_Hours %>
  <strong>Member Created At:</strong>
  <%= @member.created_at %>
  <strong>Member Updated At:</strong>
  <%= @member.updated_at %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

<br><br>
<strong>Payment Information:</strong>
<table>
  <thead>
    <tr>
      <th>Pymt_Type</th>
      <th>Pymt_Amt</th>
      <th>Pymt_Date</th>
      <th>Payment Made At</th>
    </tr>
  </thead>
  <tbody>
    <% @member.payments.each do |payment| %>
      <tr>
        <td><%= payment.Pymt_Type %></td>
        <td><%= payment.Pymt_Amt %></td>
        <td><%= payment.Pymt_Date %></td>
        <td><%= payment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<strong>Continue Education:</strong>
<table>
  <thead>
    <tr>
      <th>Annual convention ce hours</th>
      <th>Online ce hours</th>
      <th>Made At</th>
    </tr>
  </thead>
  <tbody>
    <% @member.continueedus.each do |continueedu| %>
      <tr>
        <td><%= continueedu.Annual_Convention_CE_Hours %></td>
        <td><%= continueedu.Online_CE_Hours %></td>
        <td><%= continueedu.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<strong>Pac contribution:</strong>
<table>
  <thead>
    <tr>
      <th>Annual convention ce hours</th>
      <th>Made At</th>
    </tr>
  </thead>
  <tbody>
    <% @member.pacs.each do |pac| %>
      <tr>
        <td><%= pac.PAC_Contribution %></td>
        <td><%= pac.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>