<p id="notice"><%= notice %></p>


<p>
<div align="center">
<strong><button type="button"><%= link_to 'My Payments', payments_path(@member.id) %></button><strong>
&nbsp;&nbsp;&nbsp;&nbsp
<strong><button type="button"><%= link_to 'My Continue Educations', continueedus_path(@member.id) %></button><strong>
&nbsp;&nbsp;&nbsp;&nbsp
<strong><button type="button"><%= link_to 'My PAC Contributions', pacs_path(@member.id) %></button></strong>
</div>
</p>


<p>
  <strong>Last name:</strong>
  <%= @member.Last_Name %>
  &nbsp
  <strong>First name:</strong>
  <%= @member.First_Name %>
  <br />
  <strong>Company:</strong>
  <%= @member.Company %>
  &nbsp
  <strong>Tx license:</strong>
  <%= @member.TX_License %>
  <br />
  <strong>Street1:</strong>
  <%= @member.Street1 %>
  &nbsp
  <strong>City:</strong>
  <%= @member.City %>
  &nbsp
  <strong>State:</strong>
  <%= @member.State %>
  &nbsp
  <strong>Zip:</strong>
  <%= @member.Zip %>
  <br />
  <strong>Main phone:</strong>
  <%= @member.Main_Phone %>
  &nbsp
  <strong>Main email:</strong>
  <%= @member.Main_Email %>
  <br />
  <strong>Customer type:</strong>
  <%= @member.Customer_Type %>
  &nbsp
  <strong>Date joined taa:</strong>
  <%= @member.Date_Joined_TAA %>
  <br />
  <strong>Notes:</strong>
  <%= @member.Notes %>
  <br />
  <strong>Added to webbase:</strong>
  <%= @member.Added_to_WebBase %>
  <br />
  <strong>Member Created At:</strong>
  <%= @member.created_at %>
  &nbsp
  <strong>Member Updated At:</strong>
  <%= @member.updated_at %>
</p>

<p>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
</p>

<li>
   <%= link_to "Log out", logout_path, method: "delete" %>
</li>
