<p id="notice"><%= notice %></p>


<p>
<strong><%= link_to 'Payment Information', payments_path(@member) %><strong>
<br />
<table>
  <thead>
    <tr>
      <th>Pymt_Type</th>
      <th>Pymt_Amt</th>
      <th>Pymt_Date</th>
      <th>Payment Made At</th>
    </tr>
  </thead>
  <tbody>
    <% @member.payments.each do |payment| %>
      <tr>
        <td><%= payment.Pymt_Type %></td>
        <td><%= payment.Pymt_Amt %></td>
        <td><%= payment.Pymt_Date %></td>
        <td><%= payment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<strong><%= link_to 'Continue Education', continueedus_path(@member) %></strong>
<br />
<table>
  <thead>
    <tr>
      <th>Annual convention ce hours</th>
      <th>Online ce hours</th>
      <th>Made At</th>
    </tr>
  </thead>
  <tbody>
    <% @member.continueedus.each do |continueedu| %>
      <tr>
        <td><%= continueedu.Annual_Convention_CE_Hours %></td>
        <td><%= continueedu.Online_CE_Hours %></td>
        <td><%= continueedu.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<strong><%= link_to 'PAC Contribution', pacs_path(@member) %></strong>
<br />
<table>
  <thead>
    <tr>
      <th>Annual convention ce hours</th>
      <th>Made At</th>
    </tr>
  </thead>
  <tbody>
    <% @member.pacs.each do |pac| %>
      <tr>
        <td><%= pac.PAC_Contribution %></td>
        <td><%= pac.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.Last_Name %>
  &nbsp
  <strong>First name:</strong>
  <%= @member.First_Name %>
  <br />
  <strong>Company:</strong>
  <%= @member.Company %>
  &nbsp
  <strong>Tx license:</strong>
  <%= @member.TX_License %>
  <br />
  <strong>Street1:</strong>
  <%= @member.Street1 %>
  &nbsp
  <strong>City:</strong>
  <%= @member.City %>
  &nbsp
  <strong>State:</strong>
  <%= @member.State %>
  &nbsp
  <strong>Zip:</strong>
  <%= @member.Zip %>
  <br />
  <strong>Main phone:</strong>
  <%= @member.Main_Phone %>
  &nbsp
  <strong>Main email:</strong>
  <%= @member.Main_Email %>
  <br />
  <strong>Customer type:</strong>
  <%= @member.Customer_Type %>
  &nbsp
  <strong>Date joined taa:</strong>
  <%= @member.Date_Joined_TAA %>
  <br />
  <strong>Notes:</strong>
  <%= @member.Notes %>
  <br />
  <strong>Added to webbase:</strong>
  <%= @member.Added_to_WebBase %>
  <br />
  <strong>Member Created At:</strong>
  <%= @member.created_at %>
  &nbsp
  <strong>Member Updated At:</strong>
  <%= @member.updated_at %>
</p>

<p>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
</p>

<li>
   <%= link_to "Log out", logout_path, method: "delete" %>
</li>
